html, h1,h2,div,ul,body,div,figure{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#FC5C7D,#6A82FB);
} 

header{
    height: 8vh;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    height: 90%;
    text-align: center;
    font-size: 1.3rem;
    margin: 1.2em auto;
}  

div#div-menu{
    height: 35vh;
    width: 80vw;
    margin: 0 auto;
    display: flex; 
    margin-bottom: 5px;
    
} 

figure{
    width: 30vw;
    margin: 10px ;
}

img{
    height:95%;
    margin:5px;
} 

div.container-menu{
    width: 40vw; 
    margin:10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

button{
    width: 70%;
    height: 20%; 
    background-color:#fff;
    color:rgb(59, 56, 56);
    font-size: 0.8rem;
    margin:15px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #000000;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

div.container{ 
    width: 80vw;
    height: 300px;
    margin: 15px auto;
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
}
div.position{
    height: 6rem;
    width:32%;
    background-color:transparent;
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px grey;
    cursor: pointer;
 } 
 
 div.position:hover{
     background-color:white;
     border:#fff solid 1px;
 } 



button:hover{ 
   transform: scale(1.1);
   background-color: #6a82fbea;
   color: white;
}


@media(min-width:760px) and (max-width:1024px){ 
    h1{
        font-size: 1.8rem;
    } 

    img{
        height: 100%;
    } 

    div.position{
        height: 9.5rem;
    }
    
    div#div-menu{
        margin-bottom: 40px;
    }
} 

@media(min-width:1025px){ 
    h1{
        font-size: 1.8rem;
    } 

    img{
        height:100%;
        margin-left:20vw ;
    } 

    button{
    font-size: 1.2rem;
    width: 60%;
    }
    
    div.container{
        width: 50vw;
       margin: 30px auto;
    } 

    div.position{
        height: 6.3rem;
    }
}
    
